/* ------------------ */
/* ---- COULEURS ---- */
/* ------------------ */

/* Color Theme Swatches in Hex */
.color-theme_8-1-hex { color: #0D2E41; }
.color-theme_8-2-hex { color: #00798A; }
.color-theme_8-3-hex { color: #44AD9F; }
.color-theme_8-4-hex { color: #F8AF2C; }
.color-theme_8-5-hex { color: #FA6135; }
/* Blanc cassé #f8f9fa */


/* Color Theme Swatches in RGBA */
.color-theme_8-1-rgba { color: rgba(13, 46, 65, 1); }
.color-theme_8-2-rgba { color: rgba(0, 121, 138, 1); }
.color-theme_8-3-rgba { color: rgba(68, 173, 159, 1); }
.color-theme_8-4-rgba { color: rgba(248, 175, 44, 1); }
.color-theme_8-5-rgba { color: rgba(250, 97, 53, 1); }


/* ---------------- */
/* ---- POLICE ---- */
/* ---------------- */

/* Police BTTTRIAL (Sea of Thieves) */
@font-face {
    font-family: 'sot';
    src: url('../ressources/police/BTTTRIAL.otf') format('OpenType');
}


/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */


/* ------------------ */
/* ---- GENERALS ---- */
/* ------------------ */

/* Marges max du site + alignement au centre + police d'écriture */
body {
    max-width: 2000px;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #0D2E41;
    scroll-behavior: smooth;
}

.police_sot {
    font-family: 'sot', Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
}

.span_size {
    font-size: 1.3em;
}

/* Bouton retour en haut de page */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 80px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 98; /* Make sure it does not overlap */
    border: solid 2px #f8f9fa; /* Add white borders */
    outline: none; /* Remove outline */
    background-color: #0D2E41; /* Set a background color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    animation: opacity 2000ms;
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#myBtn:hover {
    border: solid 2px #F8AF2C; /* Change color of border on hover */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; /* Add a box-shadow */
}

/* The Modal (background) - lightbox images */
.modal {
    display: none;
    position: fixed;
    z-index: 99;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 60%;
    max-width: 1200px;
}

/* The Close Button */
.close {
    color: #f8f9fa;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    transition: 0.3s ease;
}

.close:hover, .close:focus {
    color: #FA6135;
    text-decoration: none;
    cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #f8f9fa;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    text-decoration: none;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: #FA6135;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f8f9fa;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Add Animation - Zoom in the Modal */
.modal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
}
  
@keyframes zoom {
    from {
        transform:scale(0)
    }
    to {
        transform:scale(1)
    }
}


/* ---------------- */
/* ---- HEADER ---- */
/* ---------------- */

h1 {
    color: #F8AF2C;
    margin: 0px;
    float: right;
    padding-top: 28px;
}

nav {
    width: 100%;
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    margin: 0px;
    padding: 0px;
}

nav li {
    list-style-type: none;
}

nav > ul > li > a:hover {
    color: #0D2E41;
}

nav label {
    display: none;
}

nav input[type=checkbox] {
    display: none;
}

nav a {
    display: inline-block;
    text-decoration: none;
}

nav > ul > li > a {
    padding: 20px 30px;
    color: #0D2E41;
}

.submenu li a {
    padding: 15px 30px;
    font-size: 15px;
    color: #0D2E41;
    width: 250px;
}

.submenu li {
    border-bottom: solid 1px #EEE;
    background-color: #f8f9fa;
}

nav input[type=checkbox]:checked ~ .config-mobile {
    display: block;
}

.border-bottom {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.menu-france .submenu li a:hover {
    background-color: rgba(0, 121, 138, 0.15);
}

.menu-etranger .submenu li a:hover {
    background-color: rgba(68, 173, 159, 0.15);
}

.menu-parcs .submenu li a:hover {
    background-color: rgba(248, 175, 44, 0.15);
}

.menu-divers .submenu li a:hover {
    background-color: rgba(250, 97, 53, 0.15);
}

/* ---- Burger animé ---- */
.container_burger {
    display: inline-block;
    cursor: pointer;
    border: solid 2px rgba(13, 46, 65, 0.8);
    border-radius: 8px;
    padding: 3px 6px;
}
  
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgba(13, 46, 65, 0.9);
    transition: 0.4s;
    margin: 6px 0px;
}
  
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
  
.change .bar2 {
    opacity: 0;
}
  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


/* --------------- */
/* ---- INTRO ---- */
/* --------------- */

.intro {
    border: solid 2px #f8f9fa;
    border-radius: 5px;
}

.intro_p {
    line-height: 2em;
    text-align: justify;
    font-size: 1.1em;
}

h2, .intro_p {
    color: #f8f9fa;
}

h2 {
    font-size: 2.5em;
}

.intro-small {
    margin-bottom: 80px;
}


/* ----------------- */
/* ---- ARTICLE ---- */
/* ----------------- */

.titre {
    border: solid 2px #f8f9fa;
    padding: 18px 5px 0px 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
}

.titre-france {
    color: #00798A;
}

.titre-etranger {
    color: #44AD9F;
}

.titre-parcs {
    color: #F8AF2C;
}

.titre-divers {
    color: #FA6135;
}

.card {
    background-color: #f8f9fa!important;
}

.card-text, .card-title, .btn-card {
    color: #0D2E41;
}

.card-text, .card-title {
    height: 48px;
}

.btn-card {
    border-color: #0D2E41;
}

.btn-card-ajust {
    margin-top: 30px;
    border-radius: 50% 20% / 10% 40%;
}

.btn-france:hover {
    color: #00798A;
    border-color: #00798A;
}

.btn-etranger:hover {
    color: #44AD9F;
    border-color: #44AD9F;
}

.btn-parcs:hover {
    color: #F8AF2C;
    border-color: #F8AF2C;
}

.btn-divers:hover {
    color: #FA6135;
    border-color: #FA6135;
}

.zoom {
    transition: transform 0.2s ease-in-out;
}

.zoom:hover {
    transform: scale(1.03);
}

#mdp {
    border: solid 1px #f8f9fa;
    border-radius: 5px;
    background-color: #f8f9fa;
    padding: 8px;
    color: #FA6135;
}

.btn-mdp {
    color: #f8f9fa;
    border: solid 1px #f8f9fa;
    border-radius: 5px;
    background-color: #0D2E41;
    padding: 10px;
}

.btn-mdp:hover {
    color: #FA6135;
    border: solid 1px #FA6135;
}

.article_mdp {
    display: none;
}

/* ---------------- */
/* ---- PHOTOS ---- */
/* ---------------- */

.image-container {
    margin: auto;
    width: 790px;
    height: 490px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.bloc1, .bloc2, .bloc3, .bloc4, .bloc5, .bloc6, .bloc7, .bloc8, .bloc9, .bloc10, .bloc11, .bloc12, .losange {
    border: solid 4px #f8f9fa;
    margin: 2px;
    cursor: pointer;
}
.bloc1 {
    width: 266px;
    height: 159px;
}
.bloc2 {
    width: 240px;
    height: 136px;
}
.bloc3 {
    width: 106px;
    height: 136px;
}
.bloc4 {
    width: 161px;
    height: 136px;
}
.bloc5, .bloc6 {
    width: 130px;
    height: 181px;
}
.bloc7 {
    width: 327px;
    height: 205px;
}
.bloc8 {
    width: 186px;
    height: 295px;
}
.bloc7, .bloc8 {
    margin-top: -21px;
}
.bloc9, .bloc10, .bloc11 {
    margin-top: -88px;
}
.bloc9 {
    width: 266px;
    height: 136px;
}
.bloc10 {
    width: 140px;
    height: 136px;
}
.bloc11 {
    width: 181px;
    height: 136px;
}
.bloc12 {
    width: 186px;
    height: 46px;
    cursor: auto!important;
    color: #f8f9fa;
    font-size: 1.2em;
    text-align: center;
    padding-top: 8px;
}
.losange {
    width: 160px;
    height: 160px;
    transform: rotate(45deg);
    position: absolute;
    margin-top: 105px;
    margin-left: 225px;
}
.image-bordures:hover {
    border: solid 2px #F8AF2C;
}


/* ---------------- */
/* ---- FOOTER ---- */
/* ---------------- */

footer {
    background-color: #f8f9fa;
}

.footer_copyright {
    padding: 20px 0px;
    font-size: 0.8em;
}


/* ----------------------- */
/* ---- MEDIA QUERIES ---- */
/* ----------------------- */

@media all and (max-width: 900px) {

    .menu-mobile {
        display: block;
        margin-right: 5px;
        float: right;
        padding-top: 24px;
    }

    .config-mobile {
        display: none;
    }

    nav {
        display: block;
    }

    nav ul li, .submenu li a {
        width: 100%;
        text-align: center;
    }

    .menu-france, .menu-etranger, .menu-parcs, .menu-divers {
        font-weight: bold;
    }

    .menu-france {
        border-top: solid 5px #00798A;
        background-color: rgba(0, 121, 138, 0.15);
    }
    
    .menu-etranger {
        border-top: solid 5px #44AD9F;
        background-color: rgba(68, 173, 159, 0.15);
    }
    
    .menu-parcs {
        border-top: solid 5px #F8AF2C;
        background-color: rgba(248, 175, 44, 0.15);
    }
    
    .menu-divers {
        border-top: solid 5px #FA6135;
        background-color: rgba(250, 97, 53, 0.15);
    }
    
}


@media all and (min-width: 901px) {

    nav > ul > li {
        float: left;
        position: relative;
    }
    
    nav > ul::after {
        content: "";
        display: table;
        clear: both;
    }
    
    .submenu {
        display: none;
    }

    nav > ul {
        margin: 34px 0px 0px 0px;
        padding: 0px;
    }
    
    nav > ul > li:hover a {
        padding: 15px 30px 20px 30px;
    }
    
    .menu-left:hover .submenu {
        display: inline-block;
        position: absolute;
        top: 100%;
        left: 0px;
        padding: 0px;
        z-index: 1000;
    }
    
    .menu-right:hover .submenu {
        display: inline-block;
        position: absolute;
        top: 100%;
        right: 0px;
        padding: 0px;
        z-index: 1000;
    }

    .menu-france:hover {
        border-top: solid 5px #00798A;
        background-color: rgba(0, 121, 138, 0.15);
    }
    
    .menu-etranger:hover {
        border-top: solid 5px #44AD9F;
        background-color: rgba(68, 173, 159, 0.15);
    }
    
    .menu-parcs:hover {
        border-top: solid 5px #F8AF2C;
        background-color: rgba(248, 175, 44, 0.15);
    }
    
    .menu-divers:hover {
        border-top: solid 5px #FA6135;
        background-color: rgba(250, 97, 53, 0.15);
    }
    
    .submenu li:hover a {
        font-weight: bold;
    }
}


@media all and (max-width: 767px) {
    .card {
        width: 80%;
        margin: auto;
    }
}


@media all and (max-width: 575px) {
    .article_intro {
        max-width: 95%;
    }

    .mdp-small {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .input-small {
        width: 100%;
    }

    .btn-mdp {
        margin-left: 0!important;
        margin-top: 20px;
    }
}

@media all and (min-width: 576px) {
    
    #carouselExampleIndicators {
        width: 75%;
    }
}

@media all and (min-height: 650px) {
    
    .bottom-fixe {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background-color: #f8f9fa;
    }
}