/* ------------------ */
/* ---- COULEURS ---- */
/* ------------------ */

/* Color Theme Swatches in Hex */
.color-theme_8-1-hex { color: #0D2E41; }
.color-theme_8-2-hex { color: #00798A; }
.color-theme_8-3-hex { color: #44AD9F; }
.color-theme_8-4-hex { color: #F8AF2C; }
.color-theme_8-5-hex { color: #FA6135; }
/* Blanc cassé #f8f9fa */


/* Color Theme Swatches in RGBA */
.color-theme_8-1-rgba { color: rgba(13, 46, 65, 1); }
.color-theme_8-2-rgba { color: rgba(0, 121, 138, 1); }
.color-theme_8-3-rgba { color: rgba(68, 173, 159, 1); }
.color-theme_8-4-rgba { color: rgba(248, 175, 44, 1); }
.color-theme_8-5-rgba { color: rgba(250, 97, 53, 1); }


/* ---------------- */
/* ---- POLICE ---- */
/* ---------------- */

/* Police BTTTRIAL (Sea of Thieves) */
@font-face {
    font-family: 'sot';
    src: url('Ressources/Police/BTTTRIAL.otf') format('OpenType');
}


/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */


/* ------------------ */
/* ---- GENERALS ---- */
/* ------------------ */

/* Marges max du site + alignement au centre + police d'écriture */
body {
    max-width: 2000px;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #0D2E41;
    scroll-behavior: smooth;
}

.police_sot {
    font-family: 'sot', Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
}

.span_size {
    font-size: 1.3em;
}


/* ---------------- */
/* ---- HEADER ---- */
/* ---------------- */

h1 {
    color: #F8AF2C;
    margin: 0px;
    float: right;
    padding-top: 28px;
}

nav {
    width: 100%;
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    margin: 0px;
    padding: 0px;
}

nav li {
    list-style-type: none;
}

nav > ul > li > a:hover {
    color: #0D2E41;
}

nav label {
    display: none;
}

nav input[type=checkbox] {
    display: none;
}

nav a {
    display: inline-block;
    text-decoration: none;
}

nav > ul > li > a {
    padding: 20px 30px;
    color: #0D2E41;
}

.submenu li a {
    padding: 15px 30px;
    font-size: 15px;
    color: #0D2E41;
    width: 250px;
}

.submenu li {
    border-bottom: solid 1px #EEE;
    background-color: #f8f9fa;
}

nav input[type=checkbox]:checked ~ .config-mobile {
    display: block;
}

.border-bottom {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.menu-france .submenu li a:hover {
    background-color: rgba(0, 121, 138, 0.15);
}

.menu-etranger .submenu li a:hover {
    background-color: rgba(68, 173, 159, 0.15);
}

.menu-parcs .submenu li a:hover {
    background-color: rgba(248, 175, 44, 0.15);
}

.menu-divers .submenu li a:hover {
    background-color: rgba(250, 97, 53, 0.15);
}

/* ---- Burger animé ---- */
.container_burger {
    display: inline-block;
    cursor: pointer;
    border: solid 2px rgba(13, 46, 65, 0.8);
    border-radius: 8px;
    padding: 3px 6px;
}
  
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgba(13, 46, 65, 0.9);
    transition: 0.4s;
    margin: 6px 0px;
}
  
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
  
.change .bar2 {
    opacity: 0;
}
  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


/* --------------- */
/* ---- INTRO ---- */
/* --------------- */

.intro {
    border: solid 2px #f8f9fa;
    border-radius: 5px;
}

.intro_p {
    line-height: 2em;
    text-align: justify;
    font-size: 1.1em;
}

h2, .intro_p {
    color: #f8f9fa;
}

h2 {
    font-size: 2.5em;
}

.intro-small {
    margin-bottom: 80px;
}


/* ----------------- */
/* ---- ARTICLE ---- */
/* ----------------- */

.titre {
    border: solid 2px #f8f9fa;
    padding: 18px 5px 0px 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
}

.titre-france {
    color: #00798A;
}

.titre-etranger {
    color: #44AD9F;
}

.titre-parcs {
    color: #F8AF2C;
}

.titre-divers {
    color: #FA6135;
}

.card {
    background-color: #f8f9fa!important;
}

.card-text, .card-title, .btn-card {
    color: #0D2E41;
}

.card-text, .card-title {
    height: 48px;
}

.btn-card {
    border-color: #0D2E41;
}

.btn-card-ajust {
    margin-top: 30px;
}

.btn-france:hover {
    color: #00798A;
    border-color: #00798A;
}

.btn-etranger:hover {
    color: #44AD9F;
    border-color: #44AD9F;
}

.btn-parcs:hover {
    color: #F8AF2C;
    border-color: #F8AF2C;
}

.btn-divers:hover {
    color: #FA6135;
    border-color: #FA6135;
}

.zoom {
    transition: transform 0.2s ease-in-out;
}

.zoom:hover {
    transform: scale(1.03);
}

#mdp {
    border: solid 1px #f8f9fa;
    border-radius: 5px;
    background-color: #f8f9fa;
    padding: 8px;
    color: #FA6135;
}

.btn-mdp {
    color: #f8f9fa;
    border: solid 1px #f8f9fa;
    border-radius: 5px;
    background-color: #0D2E41;
    padding: 10px;
}

.btn-mdp:hover {
    color: #FA6135;
    border: solid 1px #FA6135;
}

.article_mdp {
    display: none;
}

.img-horizontal-nikon {
    width: 100%;
    height: auto;
}

.img-vertical-nikon {
    width: 44.1%;
    height: auto;
}

.img-vertical-samsung {
    width: 49.8%;
    height: auto;
}

.img-horizontal-beauval {
    width: 88.5%;
    height: auto;
}

.img-vertical-face {
    width: 49.3%;
    height: auto;
}

.img-horizontal-futuroscope {
    width: 99.6%;
    height: auto;
}


/* ---------------- */
/* ---- FOOTER ---- */
/* ---------------- */

footer {
    background-color: #f8f9fa;
}

.footer_copyright {
    padding: 20px 0px;
    font-size: 0.8em;
}

.bottom-fixe {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
  }


/* ----------------------- */
/* ---- MEDIA QUERIES ---- */
/* ----------------------- */

@media all and (max-width: 900px) {

    .menu-mobile {
        display: block;
        margin-right: 5px;
        float: right;
        padding-top: 24px;
    }

    .config-mobile {
        display: none;
    }

    nav {
        display: block;
    }

    nav ul li, .submenu li a {
        width: 100%;
        text-align: center;
    }

    .menu-france, .menu-etranger, .menu-parcs, .menu-divers {
        font-weight: bold;
    }

    .menu-france {
        border-top: solid 5px #00798A;
        background-color: rgba(0, 121, 138, 0.15);
    }
    
    .menu-etranger {
        border-top: solid 5px #44AD9F;
        background-color: rgba(68, 173, 159, 0.15);
    }
    
    .menu-parcs {
        border-top: solid 5px #F8AF2C;
        background-color: rgba(248, 175, 44, 0.15);
    }
    
    .menu-divers {
        border-top: solid 5px #FA6135;
        background-color: rgba(250, 97, 53, 0.15);
    }
    
}


@media all and (min-width: 901px) {

    nav > ul > li {
        float: left;
        position: relative;
    }
    
    nav > ul::after {
        content: "";
        display: table;
        clear: both;
    }
    
    .submenu {
        display: none;
    }

    nav > ul {
        margin: 34px 0px 0px 0px;
        padding: 0px;
    }
    
    nav > ul > li:hover a {
        padding: 15px 30px 20px 30px;
    }
    
    .menu-left:hover .submenu {
        display: inline-block;
        position: absolute;
        top: 100%;
        left: 0px;
        padding: 0px;
        z-index: 1000;
    }
    
    .menu-right:hover .submenu {
        display: inline-block;
        position: absolute;
        top: 100%;
        right: 0px;
        padding: 0px;
        z-index: 1000;
    }

    .menu-france:hover {
        border-top: solid 5px #00798A;
        background-color: rgba(0, 121, 138, 0.15);
    }
    
    .menu-etranger:hover {
        border-top: solid 5px #44AD9F;
        background-color: rgba(68, 173, 159, 0.15);
    }
    
    .menu-parcs:hover {
        border-top: solid 5px #F8AF2C;
        background-color: rgba(248, 175, 44, 0.15);
    }
    
    .menu-divers:hover {
        border-top: solid 5px #FA6135;
        background-color: rgba(250, 97, 53, 0.15);
    }
    
    .submenu li:hover a {
        font-weight: bold;
    }

    .img-horizontal-nikon {
        width: 75%;
        height: auto;
    }

    .img-vertical-nikon {
        width: 33.1%;
        height: auto;
    }
    
    .img-vertical-samsung {
        width: 37.35%;
        height: auto;
    }

    .img-horizontal-beauval {
        width: 66.4%;
        height: auto;
    }

    .img-vertical-face {
        width: 37%;
        height: auto;
    }

    .img-horizontal-futuroscope {
        width: 74.7%;
        height: auto;
    }
}


@media all and (max-width: 767px) {
    .card {
        width: 80%;
        margin: auto;
    }
}


@media all and (max-width: 575px) {
    .article_intro {
        max-width: 95%;
    }

    .mdp-small {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .input-small {
        width: 100%;
    }

    .btn-mdp {
        margin-left: 0!important;
        margin-top: 20px;
    }
}

@media all and (min-width: 576px) {
    
    #carouselExampleIndicators {
        width: 75%;
    }
}